/* LoginPage Styles */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/frontend/src/assets/banner.png");
  /* Set your background image here */
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 1rem;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  color: rgb(231, 224, 210);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #e76e40;
}

.signup-link {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

.signup-link a {
  color: #ff7f50;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}